pytorch-lightning==2.1.2
gradio==3.41.2
huggingface-hub==0.25.2
einops
omegaconf
torchmetrics
webdataset
accelerate
tensorboard
PyMCubes
trimesh
rembg
transformers==4.36
tokenizers
diffusers==0.20.2
bitsandbytes
imageio[ffmpeg]
xatlas
plyfile
git+https://github.com/NVlabs/nvdiffrast/
PyGLM==2.7.0
open3d
onnxruntime